# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://user:password@host:port/database?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://user:password@host:port/database"

# Secret for JWT authentication
JWT_SECRET="your-super-secret-jwt-key"
