@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #137fec;
  --background-light: #f6f7f8;
  --background-dark: #101922;
  --surface-dark: #1c252e;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --color-surface-dark: var(--surface-dark);
  --font-sans: var(--font-inter);
  --font-mono: monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-mesh {
  @apply not-dark:bg-linear-to-br not-dark:from-blue-200 not-dark:via-yellow-50 not-dark:to-purple-200 dark:bg-background-dark
}
